@model IEnumerable<HabitTracker.ViewModels.HabitViewModel   >

@if (Model != null && Model.Any())
{
    <h2>Your Habits</h2>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Frequency</th>
                <th>Weekly Streak</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var habit in Model)
            {
                var isChecked = habit.IsCompletedToday ? "checked" : "";
                <tr>
                    <td><input class="habit-checker" data-id="@habit.Id" type="checkbox" @isChecked /></td>
                    <td title="@habit.HabitDescription">@habit.HabitTitle</td>
                    <td>@habit.HabitFrequency</td>
                    <td><span class="badge bg-primary">@habit.GetCurrentStreak()</span></td>
                    <td class="container float-end">
                        <div class="row" id="habit-indicator-@habit.Id">
                           <partial name="_HabitIndicator" model="habit.LogDisplayIndicators" />
                        </div>

                    </td>
                </tr>
            }   
        </tbody>
    </table>
}